<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Edit your task:</h1>
        <form class="edit-task-form">
            <label>Task:</label>
            <input class="task-task-input" />
            <label>Priority:</label>
            <textarea class="task-priority-input"></textarea>
            <label>Status:</label>
            <textarea class="task-status-input"></textarea>
            <label>Start Date:</label>
            <textarea class="task-startdate-input"></textarea>
            <label>Due Date:</label>
            <textarea class="task-duedate-input"></textarea>
            <label>Completion:</label>
            <textarea class="task-completion-input"></textarea>

            <button type="submit">Submit</button>
        </form>
        <div class="taskId" data-id='{{id}}'></div>
    </div>
</body>

</html>